.jumbotron {

text-align: center;

background-image: asset-url('353.jpg.jpg');


background-size: cover;

color: #000000;

font-family: 'Helvetica Neue' !important;

font-stretch: expanded;

padding-top: 540px;

padding-bottom: 240px;

margin-left: 15px;

margin-right: 15px;

text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;

}